# mac os
.DS_Store

# Visual Studio Code
**/.vscode
.vscode/*
src/**/.vscode
spikes/**/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Visual Studio
.vs/
TestResults/

# storage emulator
__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
kubectl
env.sh

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Pp]ublish/
msbuild.log
msbuild.err
msbuild.wrn
*/obj/*
*/bin/*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

.python-version

# resources for local development
deployment/.data
!.data/env.dev.sh
!.data/env.test.sh
!.data/env.prod.sh

src/edge/docker/configs/prometheus/data
*.lic
linterror


# DataProcessing scripts
!src/edge/lib/
src/edge/logs/*
src/edge/lib/configs/**/*.yaml
src/edge/lib/solutions/**/*.yaml
!src/edge/lib/solutions/**/values.yaml
src/edge/lib/solutions/**/env.sh

src/edge/lib/solutions/solution/yuma-all/solutions-ase.sh
src/edge/lib/solutions/solution/yuma-all/solutions-aks.sh
src/edge/lib/solutions/solution/yuma-all/solutions-orig.sh

!deployment/lib/
deployment/logs/*

# visual studio

.vs
.vs/
/.vs/slnx.sqlite

# git_hooks/
/src/edge/Shared/TestResults

# terraform
**/.terraform/*
*.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.backup
*.plan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# code coverage and test
artifacts/
coverage-html
coverage-hits
coverage.json
*cobertura.xml
*test*.xml
TestResults/
prometheus/data/
UnitTestData/

# Do not commit downloaded Utilities test files from Azure
/src/Utilities/localTestFiles/

# terraform
**/.terraform/*
*.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.backup
*.plan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# NuGet packages
*.nupkg

# testdata
testdata/
docker-desktop.kubeconfig
infrastructure/terraform/data/templates/tmp.json
